{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <h1>{{title}}</h1>

    <form id="edit-player-form" class="outline margin-top hidden needs-validation" novalidate>
        <input id="playerId" type="hidden" value="{{player_id}}" data-input-type="number">

        <div id="form-rows"></div>

        <div class="g-3 align-items-center margin-top">
            <button type="submit" class="btn btn-primary col-auto margin-left">Submit</button>
            <button type="button" class="btn btn-dark col-auto margin-left" id="reset">Reset</button>
        </div>
    </form>

    <div id="loading-indicator" class="margin-top hidden">
        <div class="tbl">
            <div class="spinner-border tbl-cell" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div id="loading-text" class="tbl-cell">
                chill for a second...
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/edit-player.js') }}"></script>
    <script>
        showLoadingIndicator(initEditPlayer);
    </script>
{% endblock %}