{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <h1>{{title}}</h1>

    <form class="outline margin-top">
        <input id="player-id" type="hidden" value="{{player_id}}">

        <div id="form-rows"></div>

        <div class="g-3 align-items-center margin-top">
            <button type="submit" class="btn btn-primary col-auto margin-left">Submit</button>
            <button type="button" class="btn btn-dark col-auto margin-left" id="reset">Reset</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/edit-player.js') }}"></script>
    <script>
        initEditPlayer();
    </script>
{% endblock %}