{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <h1>{{title}}</h1>

    <div class="outline auto-width margin-top">
        <div id="roster-filters" class="d-flex justify-content-center">
            <select id="teams-filter" class="form-select pad-sides" data-value-class="team-id">
                <option selected value="all">Select team...</option>
            </select>
            <select id="position-filter" class="form-select pad-sides" data-value-class="position">
                <option selected value="all">Select position...</option>
            </select>
            <select id="college-filter" class="form-select pad-sides" data-value-class="college">
                <option selected value="all">Select college...</option>
            </select>
        </div>

        <table id="roster-table" class="table table-light table-striped table-hover table-sm table-sortable margin-top">
            <thead>
                <tr>
                    <th scope="col">Team</th>
                    <th scope="col">Pos.</th>
                    <th scope="col" data-col-type="int">#</th>
                    <th scope="col">Last</th>
                    <th scope="col">First</th>
                    <th scope="col" data-col-type="height">Height</th>
                    <th scope="col" data-col-type="int">Weight</th>
                    <th scope="col">College</th>
                    <th scope="col" data-col-type="int">Exp.</th>
                    <th scope="col" data-col-type="date">DOB</th>
                </tr>
            </thead>
            <tbody id="roster-table-data"></tbody>

            <div id="loading-indicator" class="margin-top hidden">
                <div class="tbl">
                    <div class="spinner-border tbl-cell" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div id="loading-text" class="tbl-cell">
                        chill for a second...
                    </div>
                </div>
            </div>
        </table>
    </div>

    <div id="context-menu">
        <div id="edit-player" class="context-item" data-url-template="{{ url_for('edit_player', player_id='$') }}">
            Edit player...
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/players.js') }}"></script>
    <script>
        initPlayers();
    </script>
{% endblock %}